<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592297377123-39qqepsum9srtlh5s32fuj11u95ncdc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592297377123-39qqepsum9srtlh5s32fuj11u95ncdc9</string>
	<key>API_KEY</key>
	<string>AIzaSyBvZUxOdbvepqsRgh2OkJWUi7yBwE8YnJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>592297377123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techbajao.anvaysoft</string>
	<key>PROJECT_ID</key>
	<string>projectjam-2d915</string>
	<key>STORAGE_BUCKET</key>
	<string>projectjam-2d915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592297377123:ios:e42ea6cc263ca0977ae756</string>
	<key>DATABASE_URL</key>
	<string>https://projectjam-2d915-default-rtdb.firebaseio.com</string>
</dict>
</plist>